*, *::before, *::after{
  box-sizing: border-box;
  font-family: torus;
}

@font-face {
  font-family: torus;
  src: url('./fonts/torus/TorusNotched-Regular.ttf');
}

:root{
  --body: rgb(24, 24, 24);
  --main: rgb(205, 127, 1);
}

body{
  margin: 0;
  padding: 0;
  background: var(--body);
  color: white;
}

/* Navbar */

.nav-container{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.nav{
  width: 100%;
  height: 90px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  top: 0;
  left: 0;
  transition: 0.2s ease-in-out;
}

.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 3rem;
}

.nav ul.dropdown{
    gap: 1rem;
}

.nav.scrolled{
  height: 60px;
}

.nav.scrolled .site-logo{
  width: 50px;
  height: 50px;
}

.site-logo{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url('./images/pcsLogoBrown.png');
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s ease-in-out;
}

.nav-link a{
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav-overlay{
  width: 100%;
  height: 90px;
  background-color: var(--main);
  opacity: 0;
  position: absolute;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;

  transition: opacity 0.3s ease-in-out;
  transition: 0.2s ease-in-out;
}

.nav-overlay.scrolled{
  height: 60px;
  opacity: 1;
}

.nav-overlay2{
    width: 100%;
    height: 90px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);  
    position: absolute;
    top: 0;
    opacity: 0.7;

    transition: opacity 0.3s ease-in-out;
    transition: 0.2s ease-in-out;
}

.nav-overlay2.scrolled{
    opacity: 0;
}

.nav-list{
    margin: 1rem;
}

.nav-list li{
    display: flex;
    height: 90px;
}

.dropdown-overlay{
    width: 100%;
    height: 310px;
    background-color: black;
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: 0.75;
    border-bottom: 5px solid var(--main);
}

.dropdown{
    
    position: absolute;
    flex-direction: column;
    top: 75px;
}

.dropdown li{
    height: 100%;
    list-style: none;
}

.dropdown-item{
    color: white;
    text-decoration: none;
}

/* Hero */

.hero-bg{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(40%);
}

.hero-text{
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  text-align: center;
}

.hero-text h1{
  font-size: 4rem;
}

.hero-text p{
  font-size: 1rem;
}

.body-content{
  background-color: var(--content);
  align-items: center;
  justify-content: center;
}

/* Intro */

.intro-wrap{
  background-color: var(--main);
}

.content-intro{
  padding: 50px 100px;
  margin: 0 20%;
  color: white;
  text-align: center;
}

.content-intro h1{
  font-size: 3rem;
}

.content-intro p{
  font-size: 1rem;
}

/* Programs */

.programs-wrap{
  height: 70vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.programs-bg{
  width: 100%;
  height: 100%;
  background-image: url('./images/pcs.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  filter: brightness(20%);

  animation: switch 10s running infinite forwards alternate;
}
  
@keyframes switch {
  0%{
    background-image: url('./images/pcs.jpg');
  }
  40%{
    background-image: url('./images/pcs.jpg');
  }
  60%{
    background-image: url('./images/pcs-annex.jpg');
  }
  100%{
    background-image: url('./images/pcs-annex.jpg');
  }
}

.programs{
  color: black;
  padding: 50px 100px;
  display: flex;
  flex-direction: row;
}

.program{
  margin: 0 20px;
  width: 525px;
  height: 350px;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(60%);
  transition: 0.2s ease-in-out;
}

.program.grade{
  background-image: url('./images/gradeSchool.gif');
}

.program.junior-high{
  background-image: url('./images/juniorHigh.gif');
}

.program.senior-high{
  background-image: url('./images/seniorHigh.gif');
}

.program:hover{
  cursor: pointer;
  filter: brightness(100%);
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    [data-tilt] {
        -webkit-transform: none !important;
        transform: none !important;
    }
}
    
@supports (-ms-ime-align:auto){
    [data-tilt] {
        -webkit-transform: none !important;
        transform: none !important;
    }
}

/* Footer */

.footer{
  width: 100%;
  background-color: var(--main);
}

.info{
  padding: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.info p{
  margin: 0;
}

.info .number{
  margin-bottom: 10px;
}

.location-contacts-wrap{
  display: flex;
  flex-direction: row;
  margin: 50px 0;
  gap: 100px;
}

.map{
  width: 450px;
  height: 450px;
}

.address p{
  margin-bottom: 20px;
}

.address h2{
  margin-top: 0;
}

.contacts{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contacts h2{
  margin-top: 0;
}

.qr-code-wrap{
  margin-top: 100px;
}

.qr-code{
  width: 150px;
  height: 150px;
  background-image: url('./images/pcs-qr-code.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.pcs-members{
  background-image: url('./images/pcsMembers.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 318px;
  height: 70px;
}

/* Pages */

.heading{
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading-img{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('./images/pcs-annex2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    filter: brightness(40%);
}

.page-title{
    z-index: 10;
}

.page-content-wrap{
    background: white;
}

.page-content{
    margin: 0 20%;
    padding: 50px 100px;
    color: black;
}

/* About */

.page-content.about p{
    text-align: center;
}

/* Academics page */

.academics-nav{
    width: 100%;
    height: 50px;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.academics-nav ul{
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    gap: 5rem;
}

.academics-link a{
    color: black;
    text-decoration: none;
}

.page-content.grade-school h2{
    text-align: center;
}

.page-content.grade-school p{
    text-align: center;
}

.page-content.junior-high p{
    text-align: center;
}

.page-content.senior-high p{
    text-align: center;
}

.point.main li{
    margin: 1rem;
}

.point.sub li{
    margin: 0;
    list-style: lower-alpha;
}